* {
    box-sizing: border-box;
}

body {
    font-family: 'Righteous', cursive;
}

.home {
    width: 100vw;
    height: 100vh;
    background: #FB6B6B;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.home img {
    width: 55px;
    height: 65px;
}

.home h1 {
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;
    color: #FFFFFF;
}

.home button {
    width: 141px;
    height: 31px;
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    border: none;
    margin-top: 73px;
    color: #D70900;
    cursor: pointer;
}

.secondScreen {
    width: 100vw;
    height: 100vh;
    background: #FB6B6B;
    border: 1px solid #DBDBDB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secondScreen header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 22px;
}

.secondScreen img {
    width: 26px;
    height: 30px;
}

.secondScreen h1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;
    color: #FFFFFF;
}

.questions {
    margin-top: 40px;
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.question {
    width: 182px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question p {
    margin-left: 10px;
}

.question ion-icon {
    width: 13px;
    height: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.questionText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 182px;
    height: 100px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
}

.questionText p {
    margin-left: 10px;
}

.questionText img {
    width: 20px;
    height: 13px;
    margin-right: 10px;
    cursor: pointer;
}

.questionAnswer {
    width: 182px;
    height: 100px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.questionAnswer .btns {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.questionAnswer button {
    margin-left: 5px;
    width: 42px;
    height: 24px;
    text-align: center;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 7px;
    line-height: 8px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.questionAnswer .red {
    background: #FF3030;
}

.questionAnswer .orange {
    background: #FF922E;
}

.questionAnswer .green {
    background: #2FBE34;

}

.secondScreen footer {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}