* {
    box-sizing: border-box;
}

body {
    font-family: 'Righteous', 'Recursive';
}

.home {
    width: 100vw;
    height: 100vh;
    background: #FB6B6B;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.home img {
    width: 136px;
    height: 161px;
}

.home h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;
    color: #FFFFFF;
}

.home button {
    width: 246px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    border: none;
    margin-top: 73px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #D70900;
    cursor: pointer;
}

.flashCardScreen {
    width: 100%;
    height: 100%;
    background: #FB6B6B;
    border: 1px solid #DBDBDB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flashCardScreen header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 22px;
}

.flashCardScreen img {
    width: 52px;
    height: 60px;
}

.flashCardScreen h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;
    color: #FFFFFF;
}

.questions {
    margin-bottom: 170px;
    display: flex;
    flex-direction: column;
}

.question {
    margin-top: 23px;
    width: 300px;
    height: 65px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question p {
    margin-left: 10px;
}

.question.red {
    color: #FF3030;
    text-decoration: line-through #FF3030;
}

.question.orange {
    color: #FF922E;
    text-decoration: line-through #FF922E;
}

.question.green {
    color: #2FBE34;
    text-decoration: line-through #2FBE34;
}

.question p {
    margin-left: 10px;
}

.question ion-icon {
    width: 23px;
    height: 23px;
    margin-right: 10px;
    cursor: pointer;
}

.questionText {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    width: 299px;
    height: 131px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

.questionText p {
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-left: 10px;
    margin-top: 20px;
}

.questionText .arrow {
    width: 30px;
    height: 20px;
    margin-right: 10px;
    margin-top: 100px;
    cursor: pointer;
}

.questionAnswer {
    margin-top: 25px;
    width: 299px;
    height: 131px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.questionAnswer .btns {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.questionAnswer button {
    margin-left: 5px;
    width: 85.17px;
    height: 37.17px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.questionAnswer .red {
    background: #FF3030;
}

.questionAnswer .orange {
    background: #FF922E;
}

.questionAnswer .green {
    background: #2FBE34;
}

.flashCardScreen footer {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    width: 100%;
    max-height: 244px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
}

ion-icon .red {
    color: #FF3030;
}

ion-icon .orange {
    color: #FF922E;
}

ion-icon .green {
    color: #2FBE34;
}

.footer-result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.footer-result img {
    width: 18px;
    height: 18px;
}

.footer-result p:first-child {
    margin-top: 14px;
}

.footer-result .restart {
    width: 167px;
    height: 32px;
    background: #FB6B6B;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    margin-top: 22px;
    margin-bottom: 22px;
}